<footer class="site-footer">
  <div class="inner">
    {{ with .Site.Params.copyright }}
      <section class="copyright">{{ . | markdownify }}</section>{{ end }}

    <section>{{ echoParam .Site.Params "hidebyline" }}</section>
    {{ if ne .Site.Params.hidedesignbyline true }}
      <section>
        <p style="text-align:center"><b>Partners:</b><br></p>
        <!-- VT Fish and Wildlife -->
        <a href=https://vtfishandwildlife.com/ target=blank_><img src="images/VFW-Logo-RGB_transparent-background_0.png" style="height:50px; width:50px; margin:0; padding-right:10px"></a>
        <!-- USFWS Missisquoi National Wildlife Refuge -->
        <a href="https://www.fws.gov/refuge/missisquoi" target=blank_><img src="images/usfws.svg" style="height:50px; width:50px; padding-right:10px"></a>
        <!-- UVM Apis Fund -->
        <a href="https://www.uvm.edu/gund/apis-fund" target=blank_><img src="images/UVM-Apis-Fund.jpg" style="height:50px; width:100px; padding-right:10px;"></a>
        <!-- UVM (Gund Institute) -->
        <a href="https://www.uvm.edu/gund" target=blank_><img src="images/UVM-GUND22-Logo.jpg" style="height:50px; width:50px; padding-right:10px;"></a>
        Sarah K. de Coizart Perpetual Charitable Trust
        <br>
      </section>
      {{ end }}

  </div>
</footer>
